<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<html>
<head>
    <title>Santa Clara County Meetings Schedules</title>
    {% include "styles.html" %}
    {% include "datatable.html" %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#meetings').DataTable(
                {
                    "paging": false,
                    "order": [[2, "asc"]]
                }
            );
        });
    </script>
</head>
<body>
<div style="padding: 25px 25px 25px 25px;">
    <h3>Santa Clara County Board and Commission Meetings</h3>
    <p>
        Set to:
        {% if mtgs_displayed == 'all' %}
        <a href="/meetings/show_curr_mtgs">Show Only Current and Future Meetings</a>
        {% else %}
        <a href="/meetings/show_all_mtgs">Show All Meetings</a>
        {% endif %}
    </p>
    <table class="table table-striped" id="meetings">
        <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Date/Time</th>
                <th>Info</th>
                <th>Created</th>
                <th>Updated</th>
            </tr>
        </thead>
        <tbody>
        {% for meeting in meetings %}
        <tr>
            <td>{{ meeting.mtg_name }}</td>
            <td>{{ meeting.sub_name }}</td>
            <td style="white-space: nowrap;">{{ meeting.mtg_time }}</td>
            <td>{{ meeting.mods }}</td>
            <td>{{ meeting.created }}</td>
            <td>
                {% if meeting.updated != meeting.created %}
                {{ meeting.updated }}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>